
<ion-header>
  <ion-navbar>
    <ion-title><ion-icon name="ios-train">         Train Schedule</ion-icon></ion-title>
		
  </ion-navbar>
</ion-header>

<ion-content padding class="background">

<ion-list class="background">

	<button  ion-item (click)="showroute()">Route
		<ion-icon name="ios-navigate" item-start></ion-icon>
	</button>

	<button  ion-item (click)="showmap()">Map

		<ion-icon name="ios-globe" item-start></ion-icon>
	</button>

	<button  ion-item  (click)="showtime()"> Filter by Arrival time
		
		<ion-icon name="ios-time" item-start></ion-icon> </button>

			<button  ion-item  (click)="showcamera()"> Camera preview
		
		<ion-icon name="ios-camera" item-start></ion-icon> </button>




<!--ion-list>
		<ion-item>
		 <ion-label>From</ion-label>
	  <ion-select [(ngModel)]="fromstation" multiple="false" (ionChange)="showsdata(fromstation)" >
	    <ion-option  *ngFor='let account of accountList' [value]="account">{{account.name}}</ion-option>
	  </ion-select>
		</ion-item>

			<ion-item>
		 <ion-label>To</ion-label>
	  <ion-select  multiple="false" [(ngModel)]="tostname" (ionChange)="show(tostname)">
	    <ion-option  *ngFor='let dates of datesList' [value]="dates">{{dates.name}}</ion-option>
	  </ion-select>
		</ion-item>
</ion-list>-->
<button  ion-item (click)="showdata()">View full Schedule

	<ion-icon name="ios-document" item-start></ion-icon>
</button>
<button ion-item (click)="searchbytrainno()">Filter by Train No

	<ion-icon name="md-train" item-start></ion-icon>
</button>
</ion-list>
<ion-card *ngFor='let trains of tolist'>
	<ion-card-content>
		<ion-card-title><ion-icon name="ios-train-outline"></ion-icon>
   {{trains.TrainNo}}
{{trains.trainName}}
		</ion-card-title>
 <b>Station Code</b> {{ trains.stationCode}}<br>

 <b> Station Name</b> {{ trains.StationName}} <br>

 <b> Arrival Time</b> {{ trains.Arrivaltime}}<br>
    <b> Departure Time </b> {{trains.Departuretime}}<br>

  <b> Distance</b>{{trains.Distance}}<br>
 <b> Source Station Code</b>{{trains.SourceStationCode}}<br>
  <b> Source Station Name</b>{{trains.sourceStationName}}<br>

<b> Destination Station Code</b>{{trains.DestinationstationCode}}<br>

	<b> Destination Station Name</b>{{trains.DestinationStationName}}<br>

	</ion-card-content>
</ion-card>


 

		<!--		<ion-row class="row-header">
				<ion-col>Train no</ion-col>
				<ion-col>Train name</ion-col>
				<ion-col>Isnlo</ion-col>
				<ion-col>Station Code</ion-col>
				<ion-col>Station Name</ion-col>
				<ion-col>Arrival time</ion-col>
				<ion-col>Departuretime</ion-col>
				<ion-col>Distance</ion-col>
				<ion-col>Source Station Code</ion-col>
				<ion-col> Source Station Name</ion-col>
				<ion-col>Destination Station Code</ion-col>
				<ion-col>Destination Station Name</ion-col>
				</ion-row>
			<br><br>
		<ion-row *ngFor='let trains of tolist'>
				<ion-col>{{trains.TrainNo}}</ion-col>
				<ion-col>{{trains.trainName}}</ion-col>
				<ion-col>{{ trains.islno}} </ion-col>
				<ion-col>{{ trains.stationCode}} </ion-col>	
				<ion-col>{{ trains.StationName}} </ion-col>
				<ion-col>{{ trains.Arrivaltime}} </ion-col>
				<ion-col>{{trains.Departuretime}}</ion-col>
				<ion-col>{{trains.Distance}}</ion-col>
				<ion-col>{{trains.SourceStationCode}}</ion-col>
				<ion-col>{{trains.sourceStationName}}</ion-col>
				<ion-col>{{trains.DestinationstationCode}}</ion-col>
				<ion-col>{{trains.DestinationStationName}}</ion-col>
	
			</ion-row>
-->



			

		
</ion-content>